{% extends ('PhenomWafeeeBundle:Base:base.html.twig') %}

{#  INCLUDE HANDED-CODE FILE    #}
{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/category.page.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/phenomwafeee/js/category.js') }}"></script>
{% endblock %}

{#  TITLE   #}
{% block title %} CATEGORY PAGE {% endblock %}

{#  CONTENT   #}
{% block content %}

    {#  CATEGORY  #}
    <div class="content-field">
        {#  CATEGORY HEADER     #}
        <div class="content-header">
            <div class="category" style="width: auto">
                <img src="{{ asset('bundles/phenomwafeee/images/CategoryPage/fashion-field.png') }}">
            </div>
        </div>

        {#  CATEGORY CONTENT    #}
        <div class="content-body" style="padding-bottom: 0em">
            <div class="panel panel-default panel-category">
                <div class="panel-heading-category">
                    <img src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cap.png') }}">
                </div>
                <div class="content-body-info row clearfix">
                    <div class="col-md-3 product-type">
                        <p class="product-type-name">HOT SALE</p>
                    </div>
                    <div class="col-md-9 product-content">
                        <div class="product-content-body">
                            <div class="owl-carousel fashion-shop-img">


                                {#{% for i in 0..3 %}#}
                                <div>

                                    <div id="product0" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>

                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/framework/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>
                                        </div>
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                    <div id="product1" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div id="product2" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product3" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div id="product4" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product5" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>
                                {#{% endfor %}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>

                <div class="content-body-info row clearfix">
                    <div class="col-md-3 product-type">
                        <p class="product-type-name">SALE OFF</p>
                    </div>
                    <div class="col-md-9 product-content">
                        <div class="product-content-body">
                            <div class="owl-carousel fashion-shop-img">

                                {#{% for i in 0..3 %}#}
                                <div>

                                    <div id="product0" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>

                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>
                                        </div>
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product1" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div id="product2" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product3" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div id="product4" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product5" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>
                                {#{% endfor %}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>

                <div class="content-body-info row clearfix">
                    <div class="col-md-3 product-type">
                        <p class="product-type-name" style="margin-bottom: 17em">NEW</p>
                    </div>
                    <div class="col-md-9 product-content">
                        <div class="product-content-body">
                            <div class="owl-carousel fashion-shop-img">

                                {#{% for i in 0..3 %}#}
                                <div>

                                    <div id="product0" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>

                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>
                                        </div>
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                    <div id="product1" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div id="product2" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>

                                    <div id="product3" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div id="product4" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>


                                    <div id="product5" class="img-field clearfix">
                                        <div class="price">
                                            <span class="price-info">100,000</span>
                                        </div>
                                        <div class="sale-off">
                                            <div class="sale-off-header">
                                                SALE OFF
                                            </div>
                                            <div class="sale-off-info">
                                                50%
                                            </div>
                                        </div>
                                        {#<div style="width: auto; height: auto">#}
                                        <a href="#"><img class="img-rounded" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/product-1.png') }}" style="float: left; width: 10em; margin-left: 3em; margin-top: 3em"></a>
                                        <div class="click-to-cart clearfix">
                                            <img class="" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/cart.png') }}" style="width: 4em">
                                            <div style="margin-top: 1em">
                                                <img class="product-vote" src="{{ asset('bundles/phenomwafeee/images/CategoryPage/rate.png') }}" style="width: 2em; float: left; margin-left: 1em">
                                                <span class="badge">10</span>
                                            </div>

                                        </div>
                                        {#</div>#}
                                        <div class="shop-name">
                                            <hr style="margin-top: 0em; margin-bottom: 1em; width: 10em">
                                            <a href="#"><span>SHOP ABC</span></a>
                                        </div>
                                    </div>
                                </div>
                                {#{% endfor %}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>

            </div>
        </div>

    </div>
{% endblock %}