{% extends 'PhenomWafeeeBundle:Base:base.html.twig' %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/user.profile.page.css') }}">
{% endblock %}

{% block title %}
    User profile
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            var avatarWidth = $('#avatar').width();
            $('#avatar').height(avatarWidth);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile">
            <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/ProfileField.png') }}">
            <div class="info">
                <div class="col-md-2">
                    {% if user.avatarName %}
                        <img id="avatar" src="{{ user.webPath(user.avatarName) }}">
                    {% else %}
                        <img id="avatar" src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/UserAvarta.png') }}">
                    {% endif %}
                </div>
                <form class="col-md-7" method="post" action="{{ path('user_update_profile', {'username': user.username}) }}">
                    <div class="sub-info">
                        <b>GENERAL INFORMATION</b>
                        <div>
                            <span>First Name</span>
                            <span><input type="text" value="{{ user.firstname }}" name="firstname"></span>
                        </div>
                        <div>
                            <span>Last Name</span>
                            <span><input type="text" value="{{ user.lastname }}" name="lastname"></span>
                        </div>
                        <div>
                            <span>UserName</span>
                            <span><input type="text" value="{{ user.username }}" disabled></span>
                        </div>
                        <div>
                            <span>Sex</span>
                            <span><input type="text" value="{% if user.sex is defined %} {{ user.sex }} {% endif %}"></span>
                        </div>
                        <div>
                            <span>Date of birth</span>
                            <span><input type="text"></span>
                        </div>

                        <b>CONTACT INFORMATION</b>
                        <div>
                            <span>Email</span>
                            <span><input type="text" value="{{ user.email }}" disabled></span>
                        </div>
                        <div>
                            <span>Phone Number</span>
                            <span><input type="text" name="phone" value="{% if user.phone %}{{ user.phone }}{% endif %}"></span>
                        </div>
                        <div>
                            <span>Address</span>
                            <span><input type="text" name="address" value="{% if user.address %}{{user.address}}{% endif %}"></span>
                        </div>

                        <b>ADDITIONAL INFORMATION</b>
                        <div>
                            <span>Website</span>
                            <span><input type="text"></span>
                        </div>
                        <div>
                            <span>Company</span>
                            <span><input type="text"></span>
                        </div>
                        <div>
                            <span>Job</span>
                            <span><input type="text"></span>
                        </div>
                        <div>
                            <span>Hobbie</span>
                            <span><input type="text"></span>
                        </div>
                        <div class="update"><button type="submit">Save</button></div>
                    </div>
                </form>
                <div class="col-md-3">
                    <div class="user-vote">
                        <div class="vote">
                            <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/UserVote.png') }}">
                            <div class="vote-index">
                                <span>70%</span><br>
                                <span>999.999</span>
                            </div>
                        </div>
                    </div>
                    <div class="follow">
                        <span>Find me on:</span>
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Facebook.png') }}">
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Google-plus.png') }}">
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Twitter.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
