{% extends '::base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Isactive</th>
                <th>Isonline</th>
                <th>Address</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td><a href="{{ path('user_show', { 'username': entity.username }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.role }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.isOnline }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.password }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'username': entity.username }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'username': entity.username }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
