{% extends '::base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Isactive</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td><a href="{{ path('user_show', { 'username': user.username }) }}">{{ user.username }}</a></td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.isActive }}</td>
                <td>{{ user.address }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'username': user.username }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'username': user.username }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
