{% extends ('PhenomWafeeeBundle:Base:base.html.twig') %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/user.profile.page.css') }}">
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block slider %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            var avatarWidth = $('#avatar').width();
            $('#avatar').height(avatarWidth);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile">
            <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/ProfileField.png') }}">
            <div class="info">
                <div class="col-md-2">
                    {% if user.avatarName %}
                        <img id="avatar" src="{{ user.webPath(user.avatarName) }}">
                    {% else %}
                        <img id="avatar" src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/UserAvarta.png') }}">
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="sub-info">
                        <b>GENERAL INFORMATION</b>
                        <div>
                            <span>First Name</span>
                            <span>{{ user.firstname }}</span>
                        </div>
                        <div>
                            <span>Last Name</span>
                            <span>{{ user.lastname }}</span>
                        </div>
                        <div>
                            <span>UserName</span>
                            <span>{{ user.username }}</span>
                        </div>
                        <div>
                            <span>Sex</span>
                            <span>Female</span>
                        </div>
                        <div>
                            <span>Date of birth</span>
                            <span>11-02-1995</span>
                        </div>
                        <div>
                            <span>Status</span>
                            <span>Buyer</span>
                        </div>

                        <b>CONTACT INFORMATION</b>
                        <div>
                            <span>Email</span>
                            <span>{{ user.email }}</span>
                        </div>
                        <div>
                            <span>Phone Number</span>
                            <span>{{ user.phone }}</span>
                        </div>
                        <div>
                            <span>Address</span>
                            <span>{{ user.address }}</span>
                        </div>

                        <b>ADDITIONAL INFORMATION</b>
                        <div>
                            <span>Website</span>
                            <span>www.kimngan.com</span>
                        </div>
                        <div>
                            <span>Company</span>
                            <span>GPAT</span>
                        </div>
                        <div>
                            <span>Job</span>
                            <span>developer</span>
                        </div>
                        <div>
                            <span>Hobbie</span>
                            <span>Whateverr</span>
                        </div>
                        <div class="update"><a href="{{ path('user_edit_profile', {'username': user.username}) }}">UPDATE</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user-vote">
                        <div class="vote">
                            <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/UserVote.png') }}">
                            <div class="vote-index">
                                <span>70%</span><br>
                                <span>999.999</span>
                            </div>
                        </div>
                    </div>
                    <div class="follow">
                        <span>Find me on:</span>
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Facebook.png') }}">
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Google-plus.png') }}">
                        <img src="{{ asset('bundles/phenomwafeee/images/UserProfilePage/Twitter.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}