<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# include handed-code file #}
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/header.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/nav.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/banner.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/right.bar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/content.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/footer.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/owl.carousel.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('bundles/phenomwafeee/css/animate.css') }}" />#}

    {% block header %}

        {#  include your expansive file   #}

    {% endblock %}

</head>

<body class="clearfix" style="width: 90em; margin: auto;">

{% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
        </div>
    {% endfor %}
{% endif %}

    <div class="right-bar clearfix" style="float: left">
        {#Sign in and sign up    #}
        <div class="right-bar-box">
            {% if not app.user %}
                <img id="right-bar-login" class="img-rounded" alt="Log In" width="40" data-toggle="modal" data-target="#SignInModal" src="{{ asset('bundles/phenomwafeee/images/Base/SignIn.png') }}">
                <img id="right-bar-signup" class="img-rounded" alt="Sign Up" width="40" data-toggle="modal" data-target="#SignUpModal" src="{{ asset('bundles/phenomwafeee/images/Base/signup.png') }}">
            {% else %}
                <a href="{{ path('user_profile', {'username': app.user.username}) }}"><img id="right-bar-user" class="img-rounded" alt="Setting" width="40" src="{{ asset('bundles/phenomwafeee/images/HomePage/user.png') }}"></a>
                <a href="#"><img id="right-bar-noti" class="img-rounded" alt="Notification" width="40" src="{{ asset('bundles/phenomwafeee/images/HomePage/notify.png') }}"></a>
                <a href="{{ path('add_new_shop') }}"><img id="right-bar-add-product" class="img-rounded" alt="Add Product" width="40" src="{{ asset('bundles/phenomwafeee/images/ShopPage/shop3.png') }}"></a>
                <a href="{{ path('user_logout') }}"><img id="right-bar-logout" class="img-rounded" alt="Log out" width="40" src="{{ asset('bundles/phenomwafeee/images/HomePage/logout.png') }}"></a>
            {% endif %}
        </div>

        <hr>

        <div class="right-bar-box">
            <img id="right-bar-cart" class="img-rounded" alt="Cart" width="40" src="{{ asset('bundles/phenomwafeee/images/Base/Cart.png') }}">
            <img id="right-bar-payment" class="img-rounded" alt="Payment" width="40" src="{{ asset('bundles/phenomwafeee/images/Base/Pay.png') }}">
        </div>

        <div class="back-to-top">
            <a href="#top" class="goTop"><img id="" class="img-rounded" alt="Back to top" width="40" src="{{ asset('bundles/phenomwafeee/images/Base/BackToTop.png') }}" ></a>
        </div>


    </div>

    <div class="left-bar clearfix" style="width: 87em; background-color: #f1f1f1; float: left">
        {#  HEADER    #}
        <header class="header">

            {#Logo    #}
            <div id="Logo">
                <a href="{{ path('index') }}"><img id="LogoImg" src="{{ asset('bundles/phenomwafeee/images/Base/Logo.png') }}"></a>
            </div>

        </header>



        {#  NAVIGATION BAR    #}
        <div class="navigation clearfix">

            {#  SEARCH AREA    #}
            <div class="search-field clearfix">

                {#  SEARCH FILL   #}
                <form id="search-form" method="post" style="float: left">
                    <input id="search-text-area" type="text" name="search" placeholder="SEARCH...">
                </form>

                {#  ADVANCED SEARCH   #}
                <div class="dropdown" style="float: left">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <div class="dropdown-menu advanced-search">
                        <form>
                            <div class="advanced-search-col-1">
                                <h5><b>TYPE</b></h5>
                                <div class="col-1">
                                    <input type="checkbox" name="shop"> Shop
                                </div>
                                <div class="col-2">
                                    <input type="checkbox" name="product"> Product
                                </div>
                                <h5><b>CATEGORY</b></h5>
                                <div class="col-1">
                                    <input type="checkbox" name="fashion"> Fashion<br>
                                    <input type="checkbox" name="devices"> Devices<br>
                                    <input type="checkbox" name="other"> Other<br>
                                </div>
                                <div class="col-2">
                                    <input type="checkbox" name="food-and-beverage"> Food and Beverage<br>
                                    <input type="checkbox" name="beauty"> Beauty Products<br>
                                </div>

                            </div>
                            <div class="advanced-search-col-2">
                                <h5><b>PRICE</b></h5>
                                <input type="radio" name="price" value="under-100"> Under 100,000<br>
                                <input type="radio" name="price" value="100-200"> From 100,000 to 200,000<br>
                                <input type="radio" name="price" value="200-500"> From 200,000 to 500,000<br>
                                <input type="radio" name="price" value="over-500"> Over 500,000<br>
                            </div>
                            <div class="advanced-search-col-3">
                                <h5><b>OTHER</b></h5>
                                <input type="checkbox" name="promotion"> Having Promotion
                            </div>


                        </form>

                    </div>
                </div>
            </div>

            {#  MENU    #}
            <nav class="menu">
                <ul class="nav nav-pills">

                    {% block navbar %}

                        <li><a href="{{ path('index') }}"><b>HOME</b></a></li>
                        <li><a href="#"><b>CATEGORY</b></a></li>
                        <li><a href="#"><b>CART</b></a></li>
                        <li><a href="#"><b>FORUM</b></a></li>
                        <li><a href="#"><b>HELP</b></a></li>
                        <li><a href="{{ path('contact_page') }}"><b>CONTACT</b></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img id="MoreMenu" src="{{ asset('bundles/phenomwafeee/images/Base/MoreButton.png') }}">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('about_page') }}"><b>ABOUT US</b></a></li>
                            </ul>
                        </li>

                    {% endblock %}

                </ul>
            </nav>
        </div>



        {#  BANNER  #}

    {% block slider %}
        <div class="banner">

            <div id="banner-slider" class="owl-carousel owl-theme">

                <div>
                    <a href="#"><img id="banner-img" class="img-rounded" alt="Cinque Terre" src="{{ asset('bundles/phenomwafeee/images/Base/Banner1.png') }}"></a>
                </div>
                <div>
                    <a href="#"><img id="banner-img" class="img-rounded" alt="Cinque Terre" src="{{ asset('bundles/phenomwafeee/images/Base/Banner2.png') }}"></a>
                </div>

            </div>

        </div>
    {% endblock %}


        {#  CONTENT    #}
        <div class="contents">

            {% block content %}

                <h1>This Is Content Block</h1>

            {% endblock %}

        </div>



        {#  FOOTER  #}
        <footer style="width: inherit; background-color: inherit">

            <div class="footer-info">
                <div class="footer-col">
                    <h5><b>SOCIAL MARKET</b></h5>
                    <p><a href=""><font size="2">About Us</font></a></p>
                    <p><a href=""><font size="2">Our Partners</font></a></p>
                    <p><a href=""><font size="2">Jobs and Careers</font></a></p>
                    <p><a href=""><font size="2">Sell on Social Market</font></a></p>
                </div>

                <div class="footer-col">
                    <h5><b>ASSISTANCE</b></h5>
                    <p><a href=""><font size="2">Contact Us</font></a></p>
                    <p><a href=""><font size="2">FAQs</font></a></p>
                    <p><a href=""><font size="2">How To Buy</font></a></p>
                    <p><a href=""><font size="2">Payment</font></a></p>
                </div>

                <div class="footer-col">
                    <h5><b>COMPANY POLICIES</b></h5>
                    <p><a href=""><font size="2">Terms and Conditions</font></a></p>
                    <p><a href=""><font size="2">Privacy Policy</font></a></p>
                    <p><a href=""><p><font size="2">Warranty and Return</font></a></p>
                </div>

                <div class="footer-col">
                    <h5><b>SOCIAL MARKET BY PHENOM</b></h5>
                    <input />
                </div>

            </div>

            <div class="footer-info" style="text-align: center">
                <p><font size="3">&copy; 2015 Social Market, Inc. All Rights Reserved</font></p>
            </div>

        </footer>


    </div>



    {#  RIGHT BAR   #}



    <!-- Trigger the modal with a button -->

    {% block login_form %}
        {% if not app.user %}
            {{ render(controller('PhenomWafeeeBundle:Account:login')) }}
        {% endif %}
    {% endblock %}

    {% block sign_up_form %}
        {% if not app.user %}
            {{ render(controller('PhenomWafeeeBundle:Account:create')) }}
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/phenomwafeee/js/banner.js') }}"></script>
        <script src="{{ asset('bundles/phenomwafeee/js/owl.carousel.min.js') }}"></script>

        <script>

            $(function(){
                goTop();
            })
            function goTop() {
                $("a[href='#top']").click(function() {
                    $("html, body").animate({ scrollTop: 0 }, 500);
                    return false;
                });
            }

            window.fbAsyncInit = function() {
                // init the FB JS SDK
                FB.init({
                    appId      : '460750337431923',                        // App ID from the app dashboard
                    channelUrl : '//localhost:8000/channel.html',      // Channel file for x-domain comms
                    status     : true,                                 // Check Facebook Login status
                    xfbml      : true                                  // Look for social plugins on the page
                });
            };

            // Load the SDK asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function fb_login() {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        // connected
                        alert('Already connected, redirect to login page to create token.');
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        // not_authorized
                        FB.login(function(response) {
                            if (response.authResponse) {
                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                            } else {
                                alert('Cancelled.');
                            }
                        }, {scope: 'email'});
                    }
                });
            }
        </script>
    {% endblock %}
</body>
</html>