
    <div id="SignInModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {#<h4 class="modal-title">Sign In</h4>#}
                </div> {# END OF MODAL HEADER #}

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="ModalLogoImg" src="{{ asset('bundles/phenomwafeee/images/Base/Logo.png') }}">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5%">
                        <form action="{{ path('login_check') }}" method="post" role="form" style="margin-left: 15%; margin-right: 15%">
                            <div class="form-group">
                                <input type="text" id="username" name="_username" placeholder="User Name" class="form-control" style="border-radius: 0%" value="{{ last_username }}" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" class="form-control" placeholder="Password" style="border-radius: 0%" name="_password" />
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="row">
                                <div class="checkbox col-md-6" style="margin-top: 0%">
                                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked> Remember me</label>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" style="float: right; color: #333333">Forget your password</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default" style="border-radius: 0%; float: right">Sign In</button>

                        </form>

                        <div class="row" style="margin-left: 15%; margin-right: 15%; margin-bottom: 5%">
                            <div id="fb-root"></div>
                            <div class="col-md-8" style="padding-left: 0%">
                                Sign in with
                                <a href="#" onclick="fb_login();"><img id="FacebookLogoImg" src="{{ asset('bundles/phenomwafeee/images/Base/Facebook.png') }}"></a>
                                <a href="#"><img id="GoogleplusLogoImg" src="{{ asset('bundles/phenomwafeee/images/Base/Google-plus.png') }}"></a>
                                <a href="#"><img id="TwitterLogoImg" src="{{ asset('bundles/phenomwafeee/images/Base/Twitter.png') }}"></a>
                            </div>
                        </div>
                    </div>
                </div> {# END OF MODAL BODY #}
            </div>
        </div>
    </div> {# END OF SIGN IN MODAL #}
